.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-bottom: 12px;
    background: white;
    border-radius: 12px;
    border: 1px solid #dbe5f5;
    transition: .2s;
    cursor: pointer;
}

.contact-item:hover {
    background: #f8fbff;
    transform: translateY(-2px);
}

.contact-name {
    color: #444;
    font-weight: 500;
}

.delete-btn {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background: #ffd6d6;
    color: #d84b4b;
    cursor: pointer;
    font-size: 18px;
}

.delete-btn:hover {
    background: #ffc1c1;
}